[Unit]
Description=Apache ActiveMQ Artemis
After=syslog.target network.target

[Service]
Environment=JAVA_ARGS="--add-modules java.xml.bind"
ExecStart=/usr/bin/artemis run
Restart=on-failure
User=artemis
Group=artemis

# XXX Workaround for bad signal handling
SuccessExitStatus=143 

[Install]
WantedBy=multi-user.target
